
<% if (tweet.id_str==selectedId) { %>
  <div class="tweet_root tweet_selected" id=<%= tweet.id_str %> data-username=<%= tweet.user.screen_name %> >
<% }else{ %>
  <div class="tweet_root" id=<%= tweet.id_str %> data-username=<%= tweet.user.screen_name %> >
<% }%>
  <img class="tweet_root_profile" src="<%= tweet.user.profile_image_url_https %>" alt="profile image">
  <div class="tweet_root_content_holder">
    <div class="relative">
      <p class="tweet_name_root"><%= tweet.user.name %></p>
      <p class="tweet_date_root"><%= tweet.created_at_formatted_short %></p>
      
    </div>
    <p class="tweet_content_root"><%= tweet.text_formatted %></p>
  </div>
  
</div>